/* #email-create-content {
	margin-bottom: 50px;
} */

/* #email-section {
	-webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
	background: #E0DFDD;
	padding-bottom: 10px;
} */

#email-hints {
	background-color: #F5F3C1;
	padding: 10px;
}

#email-hints-header {
	font-size: 2em;
	text-decoration: underline;
}

/* max-width  960px */
@media ( max-width : 960px) {
	
	.page-header{
		font-family: regular;
		font-size: 24px;
	}
	
	#email-hints {
		margin-top: 10px;
	}
}

h4#title-detail {
	background-color: #FFFFFF;
}

/*-----------------collapse------------------*/
h4 {
  margin: 0;
  background-color: #F7C11F;
 
}

h4 a {
  background: url("../images/arrow-down.png") no-repeat;
  background-position: right center;
  display: block;
  padding: 10px;
  padding-left: 20px;
  color: black !important;
  text-decoration: none !important;
  border-bottom: 3px solid #fff;
  right: 50px;
}

h4:hover { 
	background: #FE9A2E; 
}

h4.open  { 
	background: #FE9A2E; 
}

h4.open a { 
	background: url("../images/arrow-up.png") no-repeat ; 
    background-position: right center;
}

h4 + div { 
	padding: 10px; 
}
