footer {
	position:fixed;
   	left: 0px;
   	bottom: 0px;
   	height: 50px;
   	width: 100%;
   	background: #FFC000;
}

#footer-content {
	text-align: right;
   	color: #FFFFFF;
   	font-family: Dosis-Regular;
   	padding-right: 40px;
   	padding-left: 40px;
   	padding-top: 10px;
}