/* Set font */
*{
	font-family: Dosis-Regular;
}

@font-face {
    font-family: 'Dosis-Bold';
    src: url('../fonts/Dosis-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Dosis-Regular';
    src: url('../fonts/Dosis-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Dosis-SemiBold';
    src: url('../fonts/Dosis-SemiBold.ttf') format('truetype');
}
/* End Set Font*/

/* Sticky footer styles
-------------------------------------------------- */
html {
  min-height: 100%;
  position: relative;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 50px;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #FFC000;
  color: #FFFFFF;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 50px 15px 0;
}
/* ------------------------ */

body {
	background-image: url(body1.jpg);
	-moz-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	margin-top: 75px;
}

/* .container {
	margin-top: 15%;
} */

#login {
	background-color: rgba(0, 0, 0, 0.6);
	border-top: 1px solid #FF9900 !important;
	padding-bottom: 20px;
	border-radius: 2px 2px 2px 2px;
	-moz-border-radius: 2px 2px 2px 2px;
	-webkit-border-radius: 2px 2px 2px 2px;
	border: 0px solid #635f63;
}

.navbar {
	background-color: rgba(0, 0, 0, 0.6);
}

.navbar-brand {
	padding-top: 0px;
}

#login-header{
	color: #FFFFFF;
	padding-bottom: 15px;
}

#login-error {
	padding-top : 15px;
	padding-left: 0px;
	padding-right: 0px;
} 

#login-nav {
	height: 75px;
	background-color: rgba(0, 0, 0, 0.6);
}

#login-nav-container {
	padding-left: 40px;
	padding-right: 40px;		
}

#login-logo {
	background-color: #FFFFFF;
	text-align: left;
}

#login-btn {
	width: 100%;
}